/* services */

.service-cont {
  width: 80%;
  margin: 6rem auto;
  text-align: center;
}
.cont {
  font-size: 1.5rem;
  height: auto;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services-card {
  height: 380px;
  width: 340px;
  border: 1px solid #ffd1dc;
  box-shadow: 0 0 7px 2px #eeeeee;
  border-radius: 1rem;
}
.img {
  height: 60%;

  width: 100%;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  align-items: center;
  margin: auto;
}
.title {
  margin-top: 1rem;
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
}
.desc {
  font-size: 0.7rem;
}
.btn {
  margin-top: 0.5rem;
  padding: 0.3rem 1.5rem;
  border-radius: 0.6rem;
  border: 1px solid #ff2156;
  background-color: transparent;
  color: #ff2156;
  font-weight: 700;
  font-size: 0.9rem;
  transition: 0.2s ease;
}
