.project-container {
  width: 80%;
  position: relative;
  margin: 4rem auto;
}

/* .header {
  font-size: 3rem;
  line-height: 70px;
  letter-spacing: 0.3rem;
  margin-bottom: 5rem;
  position: relative;
  color: var(--white);
}

.header span:hover {
  color: var(--gray);
  animation-name: animate;
  animation-duration: 0.7s;
} */

/* @keyframes animate {
  10% {
    color: rgb(212, 209, 209);
  }
  18% {
    color: rgb(90, 90, 89);
  }
  25% {
    color: rgb(92, 92, 83);
  }
  45% {
    color: rgb(30, 30, 31);
  }
  60% {
    color: rgb(155, 154, 153);
  }
  75% {
    color: rgb(65, 60, 60);
  }
  100% {
    color: rgb(12, 10, 12);
  }
} */

.project-container-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  position: relative;
  margin: 7rem auto 2rem;
}

.project-container-card .card {
  background-color: white;
  height: 350px;
  width: 300px;
  margin-bottom: 2rem;
  border-radius: 0;
}

.card .image {
  background-size: cover;
  height: 90%;
  width: 90%;
  margin: auto;
  position: relative;
}

.image span {
  background-color: rgba(0, 0, 0, 0.7);

  height: 100%;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s;
}
.image:hover span {
  width: 100%;
}
.span-content {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.1s;
  height: 100%;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.span-content h1 {
  text-align: center;
  font-size: 1.6rem;
}
.span-content p {
  text-align: center;
  font-size: 0.8rem;
}
.btn-cont {
  display: flex;
  width: 170px;
  justify-content: space-around;
}
.span-content button {
  text-align: center;
  padding: 0.2rem 0.9rem;
  outline: none;
  background-color: transparent;
  border: 1px solid var(--gray);
  margin-bottom: 0.3rem;
  color: var(--white);
}
.span-content button:nth-child(1) {
  background-color: var(--white);
  color: var(--bg-color);
}
.image:hover .span-content {
  opacity: 1;
  z-index: 3;
}

@media (min-width: 320px) and (max-width: 767px) {
  .header {
    font-size: 2.5rem;
    line-height: 40px;
    width: 310px;
    padding-bottom: 1rem;
    text-align: left;
  }
  .underlay {
    left: 4rem;
    bottom: 1rem;
    font-size: 11rem;
  }

  .project-container-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 0;
  }

  .project-container-card .card {
    background-color: var(--white);
    height: 300px;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 0;
  }

  .card .image {
    background-size: cover;
    height: 80%;
    width: 80%;
    margin: auto;
    position: relative;
  }

  .image span {
    background-color: rgba(0, 0, 0, 0.5);

    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .project-container-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 0;
  }

  .project-container-card .card {
    background-color: white;
    height: 400px;
    width: 300px;
    border-radius: 0;
    margin-bottom: 3rem;
  }
}
