.contact-container {
  width: 80%;
  position: relative;
  margin: 4rem auto;
}

/* .header {
  font-size: 3rem;
  line-height: 70px;
  letter-spacing: 0.3rem;
  margin-bottom: 5rem;
  position: relative;
  color: var(--white);
}

.header span:hover {
  color: var(--gray);
  animation-name: animate;
  animation-duration: 0.7s;
} */

/* @keyframes animate {
  10% {
    color: rgb(212, 209, 209);
  }
  18% {
    color: rgb(90, 90, 89);
  }
  25% {
    color: rgb(92, 92, 83);
  }
  45% {
    color: rgb(30, 30, 31);
  }
  60% {
    color: rgb(155, 154, 153);
  }
  75% {
    color: rgb(65, 60, 60);
  }
  100% {
    color: rgb(12, 10, 12);
  }
} */

.contact-cont {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 80%;
  margin: 0 auto;
}

.contact {
  margin-right: 2rem;
  color: var(--white);
}

.social-icons {
  width: 200px;
  margin-right: 1rem;
}

.social-icons svg {
  margin-right: 1rem;
  font-size: 20px;
  color: var(--gray);
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  margin-left: 2rem;
  height: auto;
}

input {
  height: 50px;
  padding: 15px;
  width: 100%;
  margin-bottom: 1rem;
  background-color: var(--gray-bg);
  /* opacity: 0.6; */
  color: var(--white);
  outline: none;
  border: 0;
}
input::placeholder {
  color: var(--white);
}
textarea {
  width: 100%;
  height: 120px;
  background-color: var(--gray-bg);
  /* opacity: 0.6; */
  color: var(--white);
  outline: none;
  padding: 15px;
  margin-bottom: 2rem;
  border: 0;
}
textarea::placeholder {
  color: var(--white);
}
.form button {
  padding: 0.6rem 0.9rem;
  border: 1px solid var(--white);
  outline: none;
  background-color: transparent;
  color: var(--gray);
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
  position: relative;
  overflow: hidden;

  z-index: 2;
}
.form button span {
  background-color: var(--white);
  height: 100%;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s;
}
.form button:hover span {
  width: 100%;
}

@media (min-width: 320px) and (max-width: 767px) {
  .header {
    font-size: 2.5rem;
    line-height: 40px;
    width: 310px;
    padding-bottom: 1rem;
    text-align: left;
  }
  .underlay {
    left: 4rem;
    bottom: 1rem;
    font-size: 11rem;
  }

  .contact-cont {
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    margin-top: 0;
  }
  .contact {
    margin-top: 0;
  }
  .form {
    width: 100%;
    margin-left: 0;
    margin-top: 3rem;
  }
  button {
    padding: 0.6rem 0.7rem;
    margin-right: 0;
    border: 1px solid white;
    font-size: 0.6rem;
  }
}
