/* navbar */
ul li {
  position: relative;
  margin-right: 0.7rem;
}

ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background-color: var(--yellow);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}

ul li:hover::after {
  width: 100%;
}
