.banner-wrapper {
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 60% 40%;
  position: absolute;
  top: 0;
  left: 10%;
  align-items: center;
  justify-content: center;
}
.banner-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.banner-content h1 {
  font-size: 4rem;
  line-height: 70px;
  letter-spacing: 0.3rem;
  margin-bottom: 5rem;
  position: relative;
  color: var(--white);
}
.banner-content h1::after {
  content: "<p> A frontend Developer </p>";
  font-family: "La Belle Aurore";
  color: var(--gray2);
  font-size: 20px;
  position: absolute;
  left: 0;
  bottom: -4rem;
}

.banner-content h1 span:hover {
  color: var(--gray);
  animation-name: animate;
  animation-duration: 0.7s;
}
/* 
@keyframes animate {
  10% {
    color: rgb(212, 209, 209);
  }
  18% {
    color: rgb(90, 90, 89);
  }
  25% {
    color: rgb(92, 92, 83);
  }
  45% {
    color: rgb(30, 30, 31);
  }
  60% {
    color: rgb(155, 154, 153);
  }
  75% {
    color: rgb(65, 60, 60);
  }
  100% {
    color: rgb(12, 10, 12);
  }
} */

.banner-content button {
  padding: 0.3rem 1.4rem;
  border: 1px solid var(--gray);
  outline: none;
  background-color: transparent;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 300;
  position: relative;
  overflow: hidden;
  margin-right: 1rem;
  z-index: 2;
}
.banner-content button:nth-child(1) {
  background-color: var(--white);
  color: var(--bg-color);
}
.banner-content button:nth-child(1):hover {
  background-color: transparent;
}
.banner-content button:hover {
  color: var(--bg-color);
}
.banner-content button span {
  background-color: var(--white);
  height: 100%;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s;
}
.banner-content button:hover span {
  width: 100%;
}

.banner-img {
  background-color: var(--gray3);
  width: 100%;
  height: 90%;
  margin-top: 2rem;
  overflow: hidden;
  border: 1px solid var(--gray-bg);
  border-radius: 70% 20% 80% 50%;
  transition: 0.3s;
}

.banner-img img {
  margin-left: -10rem;
  transition: 0.3s;
}
.banner-img img:hover {
  transform: scale(0.9);
}

@media (min-width: 320px) and (max-width: 767px) {
  .banner-wrapper {
    width: 100%;
    grid-template-columns: 100%;
    left: 0;
  }
  .banner-content {
    align-items: center;
  }
  .banner-content h1 {
    font-size: 2rem;
    line-height: 40px;
    width: 310px;
    align-items: center;
    margin-bottom: 3rem;
  }
  .banner-content h1::after {
    font-size: 12px;
    bottom: -2rem;
  }

  .banner-content .btn {
    display: flex;
    align-items: center;
    width: 310px;
    margin: 0 auto;
    padding: 0;
  }
  .banner-content button {
    padding: 0.6rem 0.7rem;
    margin-right: 0;
    border: 1px solid var(--white);
    font-size: 0.6rem;
    margin-right: 1rem;
  }

  .banner-img {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .banner-wrapper {
    width: 100%;
    grid-template-columns: 100%;
    left: 0;
  }
  .banner-content {
    align-items: center;
  }
  .banner-content h1 {
    font-size: 4rem;
    line-height: 70px;
    width: 510px;
    align-items: center;
    margin-bottom: 5rem;
  }
  .banner-content h1::after {
    font-size: 16px;
    bottom: -4rem;
  }

  .banner-content .btn {
    display: flex;
    align-items: center;
    width: 510px;
    margin: 0 auto;
    padding: 0;
  }
  .banner-content button {
    padding: 0.6rem 0.7rem;
    margin-right: 0;
    border: 1px solid var(--white);
    font-size: 0.6rem;
    margin-right: 1rem;
  }
  .banner-img {
    display: none;
  }
  p {
    color: var(--white);
    display: flex;
  }
}
